.container{
    width:100%;
}

.board-container{
    width:600px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap:5px;
    margin:0 auto;
}

.gameCell{
    background-color: aqua;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 18px 0;
}




